<!--<%= @results %>-->
<table class="table table-striped">
  <thead>
    <tr>
   	  <th>Name</th>
   	  <th>Phone</th>
   	  <th>Date and time</th>
   	  <th>Master</th>
   	  <th>Color</th>
    </tr>
  </thead>
  <tbody>
  <% @results.each do |row| %>
   <tr>
   	  <td><%= row['username'] %></td>
   	  <td><%= row['phone'] %></td>
   	  <td><%= row['datetime'] %></td>
   	  <td><%= row['master'] %></td>
   	  <td><%= row['colorpicker'] %></td>
   </tr>
  <% end %>
  </tbody>
</table>